.headerLabel {
  flex: 1;
  text-align: center;
  margin: 0;
  color: #2f3132;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 16px
}

.membershipContainer {
  height: 95vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Table Wrapper */
.tableWrapper {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

/* Member Table Styling */
.memberTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  /* background: linear-gradient(135deg, #e3f2fd, #f9f9f9); */
}

.memberTable th,
.memberTable td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.memberTable th {
  background: #1976d2;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.memberTable tr:nth-child(even) {
  background-color: #f9f9f9;
}
.memberTable tr:nth-child(odd) {
  background-color: #e3e2e2;
}

.memberTable tr:hover {
  background-color: #e3f2fd;
  transition: 0.3s;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  overflow-x: auto;
  /* scroll horizontally */
  white-space: nowrap;
}

.pagination button {
  padding: 8px 14px;
  border: none;
  background: #1976d2;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  min-width: 40px;
}

.pagination button:hover {
  background: #0d47a1;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

h2 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #1E293B;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 10px;
  color: #2f3132;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #888;
}

.addMemberBtn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  color: black;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
  position: "absolute";
  right: 5;
  margin-right: 5px;
  color: #f9f9f9;
}

.memberItems {
  cursor: pointer;
}